@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  cursor: default;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 0;
}

header {
  font-weight: bold;
  padding: .5em 1em;
}

main {
  padding: 1em;
}

header,
main {
  margin: 0 auto;
  max-width: 50em;
}

.flash-text {
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
}

.flash.alert {
  border-bottom: 1px solid rgb(163, 223, 163);
  background-color: rgb(245, 255, 245);
}

.flash.notice {
  border-bottom: 1px solid rgb(233, 170, 170);
  background-color: rgb(255, 240, 240);
}

header table {
  width: 100%;
}

header table td:first-child {
  text-align: left;
}

header table td:nth-child(2) {
  text-align: right;
}

a {
  color: initial;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.separator {
  border-bottom: 1px solid rgb(223, 223, 223);
}

h4,
h5 {
  margin: 0;
  margin-bottom: 1em;
}

form {
  margin: 3em auto;
  max-width: 40em;
}

form input[type=url],
form input[type=input],
form input[type=email],
form input[type=password] {
  border-width: 1px 1px 1.5px 1px;
  border-style: solid;
  border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(138, 138, 138) rgb(187, 187, 187);
  padding: 0.5em;
  width: 100%;
  font-size: 1.1em;
  margin: 0.25em 0;
}

form input[type=button],
form input[type=submit],
form input[type=cancel] {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

form a {
  font-size: 0.8em;
}

.pl1 {
  padding-left: 1em;
}

article.row {
  min-height: 9em;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 2em 0;
}

article.row .showonhover {
  opacity: 0;
  transition: opacity .2s;
}

article.row:hover .showonhover {
  opacity: 1;
}

article time,
article.row p,
article a.action {
  color: rgb(83, 83, 83);
  font-size: 0.75em;
  text-decoration: none;
}

article.row p {
  font-size: 0.9em;
}

.page-links {
  padding: 1em;
  text-align: center;
  overflow: scroll;
}

.page-link {
  margin: 0 .75em;
  color: rgb(71, 71, 71);
  display: inline-block;
  min-width: 20px;
}

.page-link.current-page {
  color: black;
  font-weight: bold;
}

.page-skip {
  margin: 0 .5em;
  display: inline-block;
}

.add-feed {
  font-family: monospace;
  font-size: 2em;
  font-weight: 100;
  color: rgb(159, 159, 159);
}

.add-feed:hover {
  text-decoration: none;
}
